{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}



  <meta name="viewport" content="width=device-width, initial-scale=1">

 <script src="{% static 'login/loginjs/jquery.min.js' %}"></script>
 <script src="{% static 'login/loginjs/bootstrap.min.js' %}"></script>
 <link rel="stylesheet" type="text/css" href="{% static 'login/loginjs/jquery.datatable.css' %}">

<script type="text/javascript" charset="utf8" src="{% static 'login/loginjs/jquery.datatable.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'login/loginjs/loginjs.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'login/loginjs/json.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'login/loginjs/test.js' %}"></script>

  <link rel='stylesheet' type="text/css" href="{% static 'login/logout.css' %}">

<!-- speed-->

<script type="text/javascript" charset="utf-8" src="{% static 'download_app/download.js' %}"></script>
<!--download app for window and linux-->
</head>
<body>
 <div class='container-fluid well text-left span12'>
   <div class='container-fluid '>
    <h1>OPEN SOURCE<h1>
    </div>

    <div class='container-fluid '>


    </div>

    <div class='container-fluid '>
      <div class='col-sm-4 span12'>
        <div class="dropdown col-lg-6 ">
        <button class="btn-primary dropdown-toggle btnsize" type="button" onclick="testadd(this)">
          Add Server
  </button>

  </div>
  <div class="button col-lg-4 btn-size dropdown">
   <FORM action="{% url 'app' %}" method="post" id="download_form">
      {% csrf_token %}
  <button  type="submit" class="btn-primary btnsize dropbtn"  type="button" >
        Download App
      </button>
      <div class="dropdown-content">
    <span type="submit" id="window_app" onclick="download_exe(this,'window')">Window</span>
    <span id="linux_app" onclick="download_exe(this,'linux')">Linux</span>
    <input type="hidden" name="download_exe_platform" id="download_exe_platform" placeholder="window">
  </div>


   </form>
  </div>
      </div>

      <div class='col-lg-4'>
      </div>
<!--
      <div class='col-lg-4 btn-group btnleftdiv'>
        <button type="button" class="btn btn-info">
    <span class="glyphicon glyphicon-search"></span> Daily
  </button>
  <button type="button" class="btn btn-info">
    <span class="glyphicon glyphicon-search"></span> Downloading
  </button>
  <button type="button" class="btn btn-info">
    <span class="glyphicon glyphicon-search"></span> Searchs
  </button>

      </div>
-->
    </div>

    <div class='container-fluid span12 datatablediv' id='datatablediv'>

    <table id="table_id" class="display">
    <thead>
        <tr>
            <th>Server <span class="glyphicon glyphicon-search"></span></th>
            <th>Last Tested <span class="glyphicon glyphicon-star"></span></th>
            <th>Avg Speed <span class="glyphicon glyphicon-search"></span></th>
            <th>Ping RTT <span class="glyphicon glyphicon-search"></span></th>
            <th>Upload Speed <span class="glyphicon glyphicon-search"></span></th>
            <th>Download Speed <span class="glyphicon glyphicon-search"></span></th>
            <!--
            <th>Add<span class="glyphicon glyphicon-search"></span></th>
          -->
            <th id="test_button">Test <span class="glyphicon glyphicon-search"></span></th>

            <th id="test_histroy_button">History <span class="glyphicon glyphicon-search"></span></th>
            <th id="test_delete">Delete</th>
            </tr>
    </thead>
    <tbody id="datatable_body">
      {% for i in object_list %}
        <tr>
            <td>{{i.server}}</td>
            <td>{{i.last_tested}}</td>
            <td>{{i.avg_speed}}</td>
            <td>{{i.ping_RTT}}</td>
            <td>{{i.upload_speed}}</td>
            <td>{{i.download_speed}}</td>
          <!--  <td><span onclick="testadd(this)">add</span></td>--><!--this is saved in test.js-->

            <td>
              <FORM action="{% url 'test_show' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{i.download_speed}};{{i.upload_speed}}" id="test_value1" placeholder="Username" name="test_value1">
              <button type="submit" >Test</button>
            </FORM>
            </td>

            <td><button onclick="testhistory(this,'{{i.server}}')">History</Button></td>
              <td><button onclick="testdelete(this,'{{i.server}}')">Delete</button></td>
          </tr>
        {% endfor %}

    </tbody>
</table>
    </div>

    <div class='container' id='demo'>


    </div>


</div>
<div>


</div>
</body>
</html>
