{% load staticfiles %}
<HTML>
<HEAD>
  <link rel='stylesheet' type="text/css" href="{% static 'login/login.css' %}">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--boorstrp lib-->
  <link rel="stylesheet" href="{% static 'login/bootstrap/bootstrap.css' %}">
    <script src="{% static 'login/bootstrap/jquery.js' %}}"></script>
    <script src="{% static 'login/bootstrap/bootstrap.js' %}"></script>
  <!--boorstrp lib end-->


</HEAD>
<BODY>
  <div class="container" style="width: 100%;height: 100%;display: table;text-align: center;background-color:#F2F0F0" >
    <div class="row"  style="display: table-cell;vertical-align: middle;">
        <div align="center" >
            <div style="max-width: 350px; background-color: blueviolet;">
            <!--    <div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #BDBABA;"> -->
                    <div class="col-md-8 col-sm-8 col-xs-12" style="background-color: #A9A6A6;border-radius:15px;">

<H1>login</H1>

<FORM action="{% url 'loginpost' %}" method="post">
  {% csrf_token %}
    {{ form.as_table}}
    <INPUT TYPE="submit" value='login'>
</FORM>
</div>
<!--
                   <div class="col-md-4 col-sm-4 col-xs-12" style="background-color: #B39A9A;">
                       <p style="color: white;">More content</p>
                   </div>
                   this web application will help you to find network health of your office

               </div> -->
           </div>
       </div>
   </div>
</div>
</BODY>
</HTML>
